.landingDailogStyle {
  max-width: 850px;
  width: 100%;
  margin: 5rem auto;
  /* display: "flex";
  flex-direction: "column";
  justify-content: "center"; */
}

.landingContentStyle {
  max-height: 650px;
  height: 100%;
}

.landing_img {
  background-image: url(./../../assets/landing_img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #30cdc0;
  height: 100vh;
  position: relative;
  text-align: center;
  font-size: 48px;
  color: #fff;
  line-height: normal;
}

.landing_img .wrapper {
  position: relative;
  top: 33%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 550px;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.button {
  flex: 1 1 auto;
  margin: 0px;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 3px #111;
  border: 0px;
  border-radius: 10px;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
  transform: scale(1.05);
}

.login_button {
  background-image: linear-gradient(
    to right,
    #ffa82a 0%,
    #ff310d 51%,
    #ffa82a 100%
  );
}

.signup_button {
  background-image: linear-gradient(
    to right,
    #ffa82a 0%,
    #ff310d 51%,
    #ffa82a 100%
  );
}
