.upvote:hover {
  color: #ff4500;
}

.downvote:hover {
  color: #7193ff;
}

.upvote:active {
  animation: upvoted 1s;
  position: relative;
}

@keyframes upvoted {
  0% { bottom: 0; }
  50% { bottom: 20px; }
  100% { bottom: 0; transform: rotateY(360deg); }
}