.cardHeader {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
  background-color: #373c3f;
  color: white;
}

.cardButton {
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  background-color: #202020;
  border-radius: 30px;
  width: 100%;
}

.card {
  padding-left: 0px;
  padding-right: 0px;
  margin: 10px;
}

.createPostH {
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--newRedditTheme-postLine);
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  margin-top: 10px;
  padding: 8px;
}

.createPostInput {
  background-color: #f6f7f8;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: none;
  box-sizing: border-box;
  color: #1c1c1c;
  /* display: block; */
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 38px;
  margin-right: 8px;
  outline: none;
  padding: 0 16px;
}

.galleryAnchor {
  position: relative;
  border: 1px solid transparent;
  color: var(--newRedditTheme-actionIcon);
  fill: var(--newRedditTheme-actionIcon);
  margin: 3px;
}

.communityHeaderInfo{
  background: linear-gradient(to top, #88888888, transparent);
  box-shadow: 10px 10px 4px -6px #88888888;
  padding: 0 12%;
  padding-top: 1%;
}

.gradientShade{
  background: linear-gradient(to bottom,#88888888, transparent);
}

@keyframes swirl-in-fwd {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}

@keyframes swirl-in-bwd {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(-360deg) scale(1);
    opacity: 1;
  }
}

.upArrowRotate{
  animation: swirl-in-fwd 0.6s ease-out both ;
}

.fa-angle-double-down:hover:hover{
  color:#373C3F;
  transform: scale(1.5);
}

.fa-angle-double-up:hover:hover{
  color:#373C3F;;
  transform: scale(1.5);
}

.downArrowRotate{
  animation: swirl-in-bwd 0.6s ease-out both;
}
